@layer components {

  @layer components {

    /* Bottone principale del sito */
    .btn-primary {
      @apply 
        underline underline-offset-4
        p-4 gap-2 h-10
        text-[var(--color-verdoscuro)] text-lg
        flex items-center justify-center
        hover:text-[var(--color-verdolight)]
        transition-colors duration-150
        w-auto;
    }

    .btn-secondary {
      @apply 
        underline underline-offset-4
        p-4 gap-2 h-10
        text-black text-lg
        flex items-center justify-center
        hover:text-[var(--color-verdolight)]
        transition-colors duration-150
        w-auto;
    }
  
  
  }
  
    /* Pulsanti navbar con effetto di hover */
    .btn-navbar {
      @apply px-4 py-2 
             text-[var(--color-verdoscuro)]
             hover:text-[var(--color-verdolight)]
             transition-colors duration-300 ease-in-out;
            }
  
/* Pulsante circolare per dashboard */
    @layer components {
      .btn-edit-gallery {
        @apply 
          w-7 h-7 rounded-full
          bg-[var(--color-verdolight)]
          flex items-center justify-center
          hover:bg-[var(--color-verdoscuro)]
          transition-colors duration-150
          cursor-pointer;
      }
    }

    .icon-menu {
      @apply 
      text-[var(--color-verdoscuro)]
      hover:text-[var(--color-verdolight)]
      mx-2 inline-block 
      transition-colors duration-200 
    }

    /* Card per foto e album cliccabili */
    .card {
      @apply flex flex-col shadow-md  
      overflow-hidden bg-white cursor-pointer 
      transition-all duration-300 ease-in-out
    }
  
    /* Hover effect per card cliccabile */
    .card:hover {
      @apply shadow-2xl;
    }
  
    /* Titolo della card */
    .card-title {
      @apply text-[var(--color-verdoscuro)] text-xl mb-2 text-center;
    }
  
    /* Descrizione della card */
    .card-desc {
      @apply text-black text-sm mb-4 text-center;
    }
  }
  